/* styles.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  color: #1f2937;
  line-height: 1.6;
}

/* UTILIDADES */
.container {
  width: 90%;
  max-width: 1100px;
  margin: auto;
}

.btn, .btn-primary {
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.btn {
  background: #2563eb;
  color: #fff;
}

.btn-primary {
  background: #2563eb;
  color: white;
  border: none;
  cursor: pointer;
}

.logo-img {
  width: 9rem;
  height: 3rem;
  object-fit: contain;
}

/* HEADER */
.header {
  background: #0f172a;
  color: white;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0;
}

.nav a {
  color: white;
  margin-left: 15px;
  text-decoration: none;
}

/* HERO */
.hero {
  background: linear-gradient(rgba(0,0,0,.5), rgba(0,0,0,.5)),
              url('assets/hero.jpeg') center/cover no-repeat;
  color: white;
  padding: 100px 0;
  text-align: center;
}

/* SERVICIOS */
.services {
  padding: 60px 0;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
  margin-top: 30px;
}

.card {
  padding: 20px;
  border-radius: 10px;
  background: #f8fafc;
  box-shadow: 0 5px 15px rgba(0,0,0,.05);
}

/* NOSOTROS */
.about {
  background: #f1f5f9;
  padding: 60px 0;
  text-align: center;
}

/* CONTACTO */
.contact {
  padding: 60px 0;
}

.contact form {
  max-width: 500px;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.contact input,
.contact textarea {
  padding: 12px;
  border-radius: 6px;
  border: 1px solid #cbd5f5;
}

/* FOOTER */
.footer {
  background: #0f172a;
  color: white;
  text-align: center;
  padding: 20px;
}

@media (max-width: 768px) {
    .hero {
        padding: 70px 0;
    }
    .hero h2 {font-size: 1.8rem;
    }
}

@media (max-width: 768px) {
  .nav {
    flex-direction: column;
    gap: 10px;
  }

  nav a {
    display: block;
    margin: 5px 0;
  }
}